*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.card{
     width: 1345px;
     height: 800px;
     background: #F9F9F9;

}
.heading{
     position:absolute;
     width: 442px;
height: 81px;
top: 96px;
left: 130px;
padding: 0px 10px 0px 10px;

}
.h1{
     width: 199px;
height: 75px;
left: 10px;
font-family: Raleway;
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;

}
.span-1{
     position: absolute;
     left: 200px;
background: linear-gradient(255.26deg, #106A39 0%, #8FC640 105.65%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-family: Raleway;
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;

}
.para{
     position: absolute;
     width: 549px;
height: 228px;
top: 242px;
left: 130px;
font-family: Raleway;
font-size: 32px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;


}
.img-1{
     position: absolute;
     width: 552px;
height: 489.1798400878906px;
top: 96px;
left: 774px;

}
.btn{
     position: absolute;
     width: Fixed (400px);
height: Fixed (100px);
top:577px;
left: 130px;
padding: 24px 66px 24px 66px;
border-radius: 12px;
border: 4px;
gap: 10px;
color: #5C9348;
border: 4px solid #5C9348;

}
.btn:hover{
     color: #16204d;
     background-color: #cec2d1;
}

.card-2{
     width: 1300px;
     height: 800px;
     background: #C9F18F;
     position: absolute;
}
.heading-2{
     position: absolute;
     width: 795px;
height: 75px;
top: 91px;
left: 323px;

}
.h1-2{
     font-family: Raleway;
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;
     
}
.mohan{
     position: absolute;
     width: 325.1612854003906px;
height: 418.8387145996094px;
top: 249px;
left: 345px;
border-radius: 21.677419662475586px;
border: 2.7096774578094482px;
gap: 32.51612854003906px;
border: 2.71px solid #FFFFFF1A;  
box-shadow: 4px 4px 10px 0px #0000001F;
}
.mohan:hover.ac{
     background-color: #106A39;
}
.babar{
     width: 325.1612854003906px;
height: 418.8387145996094px;
top: 249px;
left: 770.1611328125px;
border-radius: 21.677419662475586px;
border: 2.7096774578094482px;
gap: 32.51612854003906px;
position: absolute;
border: 2.71px solid #FFFFFF1A;
box-shadow: 4px 4px 10px 0px #0000001F;
}

.card-3{
     position: absolute;
     width: 1300px;
height: 800px;
background: #F9F9F9;
}
.heading-3{
     position: absolute;
     width: 390px;
height: 75px;
top: 63px;
left: 525px;

}
.h1-3{
     font-family: Raleway;
     font-size: 64px;
     font-weight: 700;
     line-height: 75px;
     letter-spacing: 0em;
     text-align: left;
     color: #4D4D4D;  
}
.pt-1{
     position: absolute;
     width: 363px;
height: 167px;
top: 233px;
left: 193px;
box-shadow: 5px 6px 7px 0px #0000001C;

}
.pt-2{
     position: absolute;
     width: 254px;
height: 167px;
top: 233px;
left: 616px;
box-shadow: 5px 6px 7px 0px #0000001C;

}
.pt-3{
     position: absolute;
     width: 295px;
height: 167px;
top: 233px;
left: 930px;
box-shadow: 5px 6px 7px 0px #0000001C;

}
.para-2{
     position: absolute;
     width: 803px;
height: 108px;
top: 502px;
left: 312px;

}
p{
     font-family: Raleway;
     font-size: 32px;
     font-weight: 400;
     line-height: 38px;
     letter-spacing: 0em;
     text-align: center;
     color: #4D4D4D;

}
.para-3{
     position: absolute;
     width: 314px;
height: 28px;
top: 621px;
left: 768px;

}
#text{
     font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color: #4D4D4D;

}
@media min-width('412'){
     

}
